// .social-icons {
//  a {
//     background-color: rgb(31, 31, 226);
//     border-radius: 100%;
//     color: $white !important;
//     display: inline-block;
//      font-size: 1.5rem;
//     height: 3.5rem;
//     line-height: 3.5rem;
//     margin-right: 1rem;
//     text-align: center;
//     width: 3.5rem;

//     &:last-child {
//       margin-right: 0;
//     }

//     &:hover {
//       background-color: $primary;
//     }
//   }
// }

.social-icons {
    color: blue;
    font-size: 1rem;
    text-align: center;
}
